In [1]:
import sys
import os

from src.data_prep import load_raw

In [2]:
sus, idh, pol, ibge = load_raw()

In [3]:
sus

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,2017-08-03,2017-08-08,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,2017-08-03,2017-08-05,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,2017-07-26,2017-08-03,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,2017-08-02,2017-08-05,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,2017-08-04,2017-08-10,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185293,I64,354780,430460,303040149,64,1,,0,3508528,585.95,0,2014-03-14,2014-03-18,29,NaN,NaN,NaN,NaN
185294,S663,431337,430460,408060484,44,1,,0,3626245,421.30,0,2014-03-18,2014-03-19,6856,NaN,NaN,NaN,NaN
185295,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,2014-03-10,2014-03-18,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185296,S860,412550,430460,408060476,32,1,,0,3626245,680.20,0,2014-03-27,2014-03-29,6,NaN,NaN,NaN,NaN
185297,S628,431337,430460,408020172,6,3,,0,3626245,115.24,0,2014-04-01,2014-04-02,6856,NaN,NaN,NaN,NaN

In [15]:
len(sus)

185298

In [9]:
resp = sus[sus.DIAG_PRINC.str.startswith("J")]
resp["UF_RESIDENCIA_PACIENTE"].unique()

array(['Rio Grande do Sul', nan, 'Rio de Janeiro', 'Santa Catarina',
       'Paraná', 'São Paulo', 'Amazonas', 'Paraíba', 'Pará',
       'Rio Grande do Norte', 'Mato Grosso', 'Ceará',
       'Mato Grosso do Sul', 'Rondônia', 'Minas Gerais', 'Tocantins',
       'Piauí', 'Maranhão', 'Pernambuco'], dtype=object)

In [14]:
resp["UF_RESIDENCIA_PACIENTE"].isna().sum()

np.int64(6058)

In [13]:
resp_sem_nan = resp.dropna(subset=['UF_RESIDENCIA_PACIENTE'])
resp_sem_nan["UF_RESIDENCIA_PACIENTE"].unique()

array(['Rio Grande do Sul', 'Rio de Janeiro', 'Santa Catarina', 'Paraná',
       'São Paulo', 'Amazonas', 'Paraíba', 'Pará', 'Rio Grande do Norte',
       'Mato Grosso', 'Ceará', 'Mato Grosso do Sul', 'Rondônia',
       'Minas Gerais', 'Tocantins', 'Piauí', 'Maranhão', 'Pernambuco'],
      dtype=object)

In [10]:
resp["UF_RESIDENCIA_PACIENTE"].value_counts()

UF_RESIDENCIA_PACIENTE
Rio Grande do Sul      2785
Santa Catarina           43
Paraná                   11
Rio de Janeiro            5
Amazonas                  5
São Paulo                 4
Mato Grosso               4
Pará                      3
Mato Grosso do Sul        3
Ceará                     3
Rondônia                  2
Minas Gerais              2
Rio Grande do Norte       1
Paraíba                   1
Tocantins                 1
Piauí                     1
Maranhão                  1
Pernambuco                1
Name: count, dtype: int64

In [12]:
resp["CIDADE_RESIDENCIA_PACIENTE"].unique()

array(['Santa Maria', 'Ijuí', nan, 'Uruguaiana', 'Caxias do Sul',
       'Macaé - Rio das Ostras - Cabo Frio', 'Passo Fundo',
       'Santa Cruz do Sul - Lajeado', 'Pelotas', 'Porto Alegre',
       'Criciúma', 'Caçador', 'Guarapuava', 'Campos dos Goytacazes',
       'Blumenau', 'Chapecó', 'Presidente Prudente', 'Florianópolis',
       'Ponta Grossa', 'Joinville', 'Tefé', 'Sousa - Cajazeiras',
       'Maringá', 'Santarém', 'Araraquara', 'Natal', 'Cáceres',
       'Juazeiro do Norte', 'Bauru', 'Corumbá', 'Porto Velho',
       'Teófilo Otoni', 'Dourados', 'Curitiba', 'Belém', 'Sinop',
       'Gurupi', 'Corrente - Bom Jesus', 'Caxias', 'Lages', 'Petrolina',
       'Juíz de Fora', 'Rondonópolis', 'Castanhal'], dtype=object)