In [1]:
import sys
import os

from src.data_prep import load_raw

In [2]:
sus, idh, pol, ibge = load_raw()

In [20]:
sus.head(10)

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,2017-08-03,2017-08-08,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,2017-08-03,2017-08-05,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,2017-07-26,2017-08-03,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,2017-08-02,2017-08-05,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,2017-08-04,2017-08-10,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
5,P398,430300,430300,303160020,1,1,0,0,2266474,301.03,0,2017-07-26,2017-08-04,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
6,J068,430300,430300,303140100,4,1,0,0,2266474,193.07,0,2017-08-01,2017-08-03,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
7,L97,430300,430300,303080094,10,3,0,0,2266474,198.57,0,2017-08-01,2017-08-04,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
8,J459,430300,430300,303140046,2,1,0,0,2266474,529.87,0,2017-08-03,2017-08-07,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
9,T846,430300,430300,408060352,66,3,0,0,2266474,159.66,0,2017-08-06,2017-08-07,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921

In [15]:
len(sus)

185298

In [9]:
resp = sus[sus.DIAG_PRINC.str.startswith("J")]
resp["UF_RESIDENCIA_PACIENTE"].unique()

array(['Rio Grande do Sul', nan, 'Rio de Janeiro', 'Santa Catarina',
       'Paraná', 'São Paulo', 'Amazonas', 'Paraíba', 'Pará',
       'Rio Grande do Norte', 'Mato Grosso', 'Ceará',
       'Mato Grosso do Sul', 'Rondônia', 'Minas Gerais', 'Tocantins',
       'Piauí', 'Maranhão', 'Pernambuco'], dtype=object)

In [21]:
resp["UF_RESIDENCIA_PACIENTE"].isna().sum()

np.int64(6058)

In [22]:
resp = resp.dropna(subset=['UF_RESIDENCIA_PACIENTE', 'CIDADE_RESIDENCIA_PACIENTE'])
resp["UF_RESIDENCIA_PACIENTE"].isna().sum()

np.int64(0)

In [23]:
resp.head(10)

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,2017-07-26,2017-08-03,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
6,J068,430300,430300,303140100,4,1,0,0,2266474,193.07,0,2017-08-01,2017-08-03,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
8,J459,430300,430300,303140046,2,1,0,0,2266474,529.87,0,2017-08-03,2017-08-07,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
36,J984,430300,430300,412030012,55,1,0,0,2266474,2273.43,0,2017-08-10,2017-08-13,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
52,J210,430300,430300,303140143,4,3,0,0,2266474,211.13,0,2017-07-26,2017-07-29,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
131,J189,430513,430300,303140151,2,1,0,0,2266474,694.46,0,2017-07-25,2017-08-01,1168,Rio Grande do Sul,Ijuí,-28.387873,-53.920169
218,J189,430390,430390,303140151,88,3,0,0,2232073,849.62,0,2017-07-31,2017-08-08,20528,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
220,J960,430390,430390,303140135,51,3,0,0,2232073,614.47,0,2017-08-03,2017-08-07,20528,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
238,J81,430390,430390,303060131,79,1,0,0,2232073,2753.11,4,2017-06-03,2017-06-07,20528,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
241,J449,430390,430390,303140046,71,3,0,0,2232073,5398.10,9,2017-06-04,2017-06-18,20528,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921

In [26]:
type(resp['DT_INTER'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp